<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219414902526-fv140n0iui9fvqftq9sjg912u5a27l44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219414902526-fv140n0iui9fvqftq9sjg912u5a27l44</string>
	<key>API_KEY</key>
	<string>AIzaSyCEM4HI00YHdAvFA4Fx31SUw8Ek59Cz-Os</string>
	<key>GCM_SENDER_ID</key>
	<string>219414902526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.priloco</string>
	<key>PROJECT_ID</key>
	<string>project-firebase-1-bd9dd</string>
	<key>STORAGE_BUCKET</key>
	<string>project-firebase-1-bd9dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219414902526:ios:3be8dd4202682a434557af</string>
	<key>DATABASE_URL</key>
	<string>https://project-firebase-1-bd9dd-default-rtdb.firebaseio.com</string>
</dict>
</plist>